.departamento {
    #returnToTop {
        right: 28px;
        width: 45px;
        height: 45px;
        bottom: 85px;
        display: flex;
        position: fixed;
        cursor: pointer;
        align-items: center;
        border-radius: 50px;
        justify-content: center;
        background-color: $cor-principal;

        @media screen and (max-width:$mobile) {
            right: 27px;
            bottom: 100px;
        }
    
        span {
            width: 15px;
            height: 15px;
            display: block;
            margin-bottom: -6px;
            transform: rotate(-135deg);
            border-right: 2px solid #dcdcdc;
            border-bottom: 2px solid #dcdcdc;
        }
        
    }

    .banner {
        &.desktop {
            img {
                display: block;
                margin: 0 auto;
            }
        }

        &.mobile {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .titulo-sessao {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dcdcdc;
    }

    .description {
        font-size: 15px;
        color: #444444;
        line-height: 18px;
        margin-bottom: 30px;
    }

    .full_menu {
        @media screen and (max-width: $mobile) {
            position: fixed;
            z-index: 12;
            width: 80%;
            height: 80%;
            top: 0;
            right: -100%;
            padding: 15px;
            transition: right 300ms;
            background-color: #f6f6f6;

            &.active {
                right: 0;
            }

            .head {
                ul {
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                    justify-content: space-between;

                    li {
                        .close {
                            display: block;

                            &:after {
                                content: "";
                                width: 10px;
                                height: 10px;
                                display: block;
                                transform: rotate(130deg);
                                border-right: 2px solid gray;
                                border-bottom: 2px solid gray;
                            }
                        }

                        .btn.clear {
                        }
                    }
                }

                .title {
                    margin: 10px 0;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                }
            }
        }

        .navigation,
        .navigation-tabs {
            /* width */
            ::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                border-radius: 50px;
                background-color: #e5e5e5;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                border-radius: 50px;
                background-color: #b7b5b5;
            }

            @media screen and (max-width: $mobile) {
                width: 100%;
                overflow: scroll;
                margin-bottom: 20px;
                height: calc(100% - 135px);
            }

            .menu-departamento {
                .search-single-navigator {
                    h3 {
                        a {
                            display: block;
                            margin: 10px 0;
                            font-size: 15px;
                            padding: 10px 0;
                            font-weight: 700;
                            color: $cor-principal;
                            border-top: 1px solid #dcdcdc;
                        }
                    }

                    ul {
                        margin-bottom: 30px;

                        li {
                            margin-bottom: 10px;
                        }
                    }
                }

                & > div {
                    .menu-navegue {
                        display: none;
                    }

                    .search-multiple-navigator {
                        display: block !important;

                        & > h3 {
                            display: none;
                        }

                        & > h4,
                        .bt-refinar {
                            display: none;
                        }

                        fieldset {
                            margin: 10px 0;
                            padding: 10px 0;
                            border-top: 1px solid #dcdcdc;

                            &[data-name="Ordenacao"] {
                                display: none;

                                @media screen and (max-width: $mobile) {
                                    display: block;
                                }
                            }

                            @media screen and (max-width: $mobile) {
                                margin: 15px 0;
                                padding: 15px 0 0;

                                &:first-child {
                                    border-top: none;
                                }
                            }

                            h5 {
                                font-size: 15px;
                                font-weight: bold;
                                color: $cor-principal;

                                @media screen and (min-width: $mobile) {
                                    margin-bottom: 15px;
                                }

                                @media screen and (max-width: $mobile) {
                                    &:after {
                                        content: "+";
                                        float: right;
                                    }

                                    &.active {
                                        &:after {
                                            content: "-";
                                        }
                                    }
                                }
                            }

                            div {
                                @media screen and (min-width: $mobile) {
                                    max-height: 270px;
                                    overflow-x: hidden;
                                }

                                @media screen and (max-width: $mobile) {
                                    display: none;
                                    padding-top: 15px;
                                    padding-left: 15px;
                                }

                                label {
                                    margin-bottom: 10px;

                                    input {
                                        width: 15px;
                                        height: 15px;
                                        float: left;
                                        bottom: -1px;
                                        margin-right: 7px;
                                        position: relative;

                                        &:checked {
                                            &:after {
                                                background-color: #b7b5b5;
                                            }
                                        }

                                        &:after {
                                            content: "";
                                            width: 100%;
                                            height: 100%;
                                            display: block;
                                            transition: all 300ms;
                                            border: 1px solid #b7b5b5;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .search-single-navigator {
                        & > h3 {
                            display: none;
                        }

                        h5,
                        h4 a {
                            display: block;
                            font-size: 15px;
                            font-weight: bold;
                            margin-bottom: 15px;
                            color: $cor-principal;
                        }

                        ul {
                            &:empty {
                                display: none;
                            }

                            li {
                                &:last-child {
                                    margin-bottom: 10px;
                                    padding-bottom: 10px;
                                    border-bottom: 1px solid #dcdcdc;
                                }

                                a {
                                    display: block;
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .view {
            width: 100%;
            height: 45px;
            color: #fff;
            line-height: 45px;
            text-align: center;
            border-radius: 3px;
            background-color: #65c01d;
        }
    }

    .flags {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dcdcdc;

        .content {
            width: 100%;

            @media screen and (min-width: $mobile) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            /* width */
            ::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                border-radius: 50px;
                background-color: #e5e5e5;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                border-radius: 50px;
                background-color: #b7b5b5;
            }

            ul {
                display: flex;
                overflow-y: hidden;
                align-items: center;

                &:not(:empty) {
                    padding-bottom: 5px;
                }

                &:empty {
                    & + .clear {
                        display: none;
                    }
                }

                @media screen and (max-width: $mobile) {
                    width: 100%;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                li {
                    @media screen and (max-width: $mobile) {
                        width: 48%;
                        margin-bottom: 10px;
                    }

                    @media screen and (min-width: $mobile) {
                        margin-right: 5px;
                    }

                    > div {
                        color: #fff;
                        width: auto;
                        height: 37px;
                        display: flex;
                        cursor: pointer;
                        padding: 0 10px;
                        min-width: 135px;
                        align-items: center;
                        justify-content: space-between;
                        background-color: $cor-principal;

                        p {
                            small,
                            strong {
                                display: block;
                            }

                            small {
                                font-size: 10px;
                            }

                            strong {
                                font-size: 13px;
                            }
                        }

                        i {
                            font-size: 15px;
                            font-style: normal;
                        }
                    }
                }
            }

            .btn.clear {
                display: flex;
                font-size: 13px;
                font-weight: 500;
                padding-left: 10px;
                align-items: center;

                @media screen and (min-width: $mobile) {
                    margin-left: 20px;
                    border-left: 1px solid #444444;
                }

                @media screen and (max-width: $mobile) {
                    margin: 10px 0;
                    justify-content: flex-end;
                }

                svg {
                    width: 16px;
                    height: 16px;
                    margin-left: 7px;

                    path {
                        fill: #444444;
                    }
                }
            }
        }
    }

    .options {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #ordenacao {
            width: 157px;
            height: 40px;
            font-size: 14px;
            text-indent: 15px;
            border-radius: 3px;
            font-weight: normal;
            appearance: none;
            -webkit-appearance: none;
            background-position: 95%;
            border: 1px solid #b7b5b5;
            background-repeat: no-repeat;
            background-image: url("/arquivos/ico-small-arrow.png");
        }

        #filtrar {
            width: 115px;
            height: 40px;
            line-height: 36px;
            text-align: center;
            border-radius: 3px;
            border: 1px solid #b7b5b5;

            svg {
                margin-left: 15px;
                margin-bottom: -2px;
            }
        }
    }

    .main {
        .vitrine {
            & + .searchResultsTime {
                & + .sub {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        .searchResultsTime,
        .sub {
            display: none;
        }

        .vitrine {
            .pager {
                display: none;
            }

            .prateleira {
                .flag {
                    display: none !important;
                    &.final-de-ano,
                    &.dia-do-mecanico,
                    &.promocoes {
                        top: 30px !important;
                        right: 10px !important;
                        left: initial !important;
                    }
                }

                ul {
                    li {
                        // padding: 0;
                        margin-bottom: 20px;
                        padding: 0 7px !important;
                        @media screen and (max-width: $mobile) {
                            width: calc(100% / 2);
                        }

                        article {
                            padding: 0;
                            box-shadow: none;
                            &:hover {
                                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
                            }
                            .name {
                                @media screen and (max-width: $mobile) {
                                    padding: 0 5px;
                                }
                            }

                            .buy-button-normal {
                                @media screen and (max-width: $mobile) {
                                    display: none;
                                }

                                > a {
                                    font-size: 0;
                                    text-transform: inherit;

                                    &:after {
                                        font-size: 15px;
                                        content: "Adicionar ao Carrinho";
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .btn-load-more {
                width: 235px;
                height: 45px;
                margin: 0 auto;
                cursor: pointer;
                font-weight: bold;
                line-height: 42px;
                text-align: center;
                border-radius: 50px;
                color: $cor-principal;
                text-transform: uppercase;
                border: 1px solid $cor-principal;
            }
        }
    }
}

.brand {
    div.options #ordenacao {
        display: none !important;
    }
    .main .sub {
        display: block !important;
        .orderBy {
            text-align: right;
            position: relative;
            top: -23px;
            label {
                display: inline-block;
            }
            select {
                padding: 10px 10px;
                width: 150px;
                border: 1px solid #b7b5b5;
                &::-ms-expand {
                    display: none;
                }
            }
        }
    }
    .filterBy,
    .compare {
        display: none;
    }

    @media (max-width: 768px) {
        .main .sub {
            display: none !important;
        }
    }
}
